#board {
  .body {
    margin-top: 50px;
    margin-left: 150px;
    height: 1000px;
  }
  .body-title {
    padding: 30px;
    padding-left: 0px;
  }
  .body-QA {
    padding: 20px;
    padding-left: 0px;
    border-bottom: 1px solid #0d4f9b;
    margin-left: 30px;
  }

  .body-table {
    margin-left: 50px;
  }
  .board-name {
    margin-left: 20px;
  }
  .headTitle {
    width: 300px;
  }
  .tableNumber {
    width: 258px;
    padding-right: 0px;
  }
  .tableTitle {
    width: 400px;
    padding: 12 px;
    padding-left: 0px;
  }
  .headDate {
    width: 109px;
    padding-left: 0px;
  }
  .headWriter {
    padding-left: 0px;
  }
  .tableName {
    width: 250px;
    padding-left: 0px;
  }
  .tableDate {
    width: 159px;
    padding-left: 30px;
  }
  .HomeButton {
    float: left;
    width: 155px;
    margin-left: 30px;
  }
  .WriteButton {
    float: right;
    width: 155px;
  }
  .PagingLink {
    display: inline-block;
    margin-left: 250px;
  }
  .bottom {
    margin-top: 50px;
  }
}
