.coinName {
  margin-left: 65px;
}

.minus {
  margin-left: 65px;
  color: #2981e6;
  img {
    width: 10px;
    height: 10px;
    margin-left: 8px;
  }
}
.plus {
  margin-left: 65px;
  color: red;
  img {
    width: 10px;
    height: 10px;
    margin-left: 8px;
  }
}
