@charset "UTF-8";
$ionicons-font-path: "/fonts/ionicons" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "3.0.0-alpha.3" !default;
@import "../node_modules/ionicons/dist/scss/ionicons";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min";
@import "nojs-menus.scss";

html,
body {
  //background: rgba(188, 224, 253, 0.5);
  min-width: 1024px;
}
.board {
  margin-right: 20px;
}
.bar {
  margin-right: 20px;
}
.lead mb-5 {
  text-align: center;
}
.footer {
  width: 1366px;
  height: 421px;
  background-color: #bcbcbc;
  margin-top: 480px;
  margin-left: -90px;
}
.about_sixweeks {
  margin-left: 230px;
}
.about_icon {
  width: 114px;
  height: 120px;
  border: solid 1px #bcbcbc;
  float: left;
  margin-right: 80px;
  margin-top: 50px;
}
.sixweeks_story {
  margin-top: 50px;
  margin-left: 110px;
}
.sixweeks_s {
  width: 260px;
  height: 187px;
  border: solid 1px #bcbcbc;
  float: left;
  margin-right: 88.6px;
}
.coin {
  width: 972px;
  height: 743px;
  border: solid 1px #bcbcbc;
  margin-top: 200px;
  margin-left: 123px;
  background-color: red;
}

.squ-box {
  margin-left: 100px;
  position: absolute;
  z-index: 10;
  bottom: -100px;
}
.sq-box {
  width: 300px;
  height: 200px;
  border: solid 1px #bcbcbc;
  background-color: #ffffff;
  float: left;
  margin-right: 28px;
}
.display-2 {
  margin-top: -200px;
  text-align: center;
}
.display-6 {
  text-align: center;
  margin-bottom: 200px;
}

.text-right {
  margin-right: 480px;
  margin-top: -150px;
}

#__next {
  width: 1200px;
  margin: 0 auto;
}

.lead {
  font-size: 1.4em;
  padding-left: 50px;
}

pre {
  background-color: #333;
  border-color: #333;
  color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar,
.navbar .btn,
.navbar .dropdown-item,
.navbar button {
  font-size: 15px;
  background: rgba(188, 224, 253, 0.5);
}
.navbar {
  padding-left: 150px;
  padding-right: 150px;
}

@media (max-width: 768px) {
  .display-2 {
    font-size: 3em;
  }
  .display-3 {
    font-size: 2.5em;
  }
  .display-4 {
    font-size: 2em;
  }
}

.icon-spin {
  display: inline-block;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/**
 * This is a fix for Reactstrap 5.0.0-alpha.4 not displaying menus in the 
 * navbar correcrtly on mobile devices.
 **/
.navbar .dropdown {
  display: block;
}

@media (max-width: 768px) {
  .navbar .dropdown-menu {
    position: relative !important;
    display: block !important;
    transform: none !important;
    padding: 0 0 10px 0;
    border: none;
  }
}

/**
 * Fix for Reactstrap
 **/
.react-bs-table-sizePerPage-dropdown .dropdown-item a {
  display: block;
  color: #000;
  text-decoration: none;
}

.react-bs-table-sizePerPage-dropdown button {
  background: #fff;
  color: #000;
}
