@charset "UTF-8";
$ionicons-font-path: "/fonts/ionicons" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "3.0.0-alpha.3" !default;
@import "../node_modules/ionicons/dist/scss/ionicons";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min";
@import "nojs-menus.scss";
@import "board.scss";
@import "login.scss";
@import "signup.scss";

* {
  list-style: none;
}
html,
body {
  //background: rgba(188, 224, 253, 0.5);
  min-width: 1366px;
}
.container {
  min-width: 1366px;
}
.more {
}

.board_2 {
  margin-left: 20px;
}
.dropdo {
  font-size: 15px;
  margin-left: 30px;
  color: #343638;
}
.cont {
  width: 1200px;
  margin-left: 250px;
}

.footerinfo {
  width: 700px;
  height: 400px;
  margin-left: 650px;
  text-align: right;
}

.footerinfo img {
  padding-top: 13px;
  padding-left: 525px;
}
.footerinfo address {
  padding-top: 120px;
}
.mainfoo {
  float: left;
  width: 200px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-top: 65px;
}
.subfooter {
  font-size: 13px;
  width: 180px;
}
.subfoo {
  margin-left: -20px;
}
.logoco {
  color: #0d4f9b;
}

.dropdown-toggle nav-link {
  font-family: "";
  font-size: 15px;
}

.text_box {
  width: 770px;
  height: 40px;
  margin: 0 auto;
}
.board_box {
  width: 950px;
  height: 695px;
  border: solid 1px #bcbcbc;
}
.write {
  border-bottom: solid 2.5px #0d4f9b;
  width: 65px;
}
.board {
  margin-right: 20px;
}
.bar {
  margin-right: 20px;
}
.lead mb-5 {
  text-align: center;
}
.footer {
  height: 420px;
  margin-top: 200px;
  background-color: #bcbcbc;
}
.footer img {
  margin-top: 60px;
  float: left;
}

.footerin {
  margin-left: 150px;
}

.about_sixweeks {
  width: 1111px;
  height: 250px;
  margin-left: 220px;
}
.about {
  margin-left: -150px;
}
.about_icon {
  cursor: pointer;
  height: 100px;
  float: left;
  margin-left: -65px;
  margin-right: 210px;
  margin-top: 100px;
}
.sixweeks_story {
  width: 1111px;
  height: 500px;
  margin-left: 220px;
  //height: 400px;
  margin-top: 100px;
  //margin-left: 110px;
}
.sixweeks_s {
  width: 260px;
  height: 187px;
  float: left;
  margin-right: 175px;
  margin-left: -100px;
  margin-top: 80px;
}
.coin {
  width: 1080px;
  height: 743px;
  border: solid 1px #bcbcbc;
  margin-top: 200px;
  margin-left: 75px;
}

.squ-box {
  margin-left: 315px;
  position: absolute;
  z-index: 10;
  bottom: -100px;
}
.sq-box {
  width: 300px;
  height: 200px;
  border: solid 1px #bcbcbc;
  background-color: #ffffff;
  float: left;
  margin-right: 60px;
}
.display-2 {
  margin-top: -200px;
}
.display-6 {
  text-align: center;
  margin-bottom: 200px;
}

.text-right {
  margin-right: 480px;
  margin-top: -150px;
}

#__next {
  .display-2 {
    margin-top: -200px;
    margin-left: 310px;
  }

  .lead {
    font-size: 1.4em;
    padding-left: 50px;
  }

  pre {
    background-color: #333;
    border-color: #333;
    color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .navbar,
  .navbar .btn,
  .navbar .dropdown-item,
  .navbar button {
    font-size: 15px;
    //background: rgba(188, 224, 253, 0.5);
    background-image: url(static/img/navb.png);
    background-size: cover;
  }
  .navbar {
    padding-left: 150px;
    padding-right: 150px;
  }

  .icon-spin {
    display: inline-block;
    animation: spin 1s infinite linear;
  }

  /**
 * This is a fix for Reactstrap 5.0.0-alpha.4 not displaying menus in the 
 * navbar correcrtly on mobile devices.
 **/
  .navbar .dropdown {
    display: block;
  }

  /**
 * Fix for Reactstrap
 **/
  .react-bs-table-sizePerPage-dropdown .dropdown-item a {
    display: block;
    color: #000;
    text-decoration: none;
  }

  .react-bs-table-sizePerPage-dropdown button {
    background: #fff;
    color: #000;
  }
}
