@charset "UTF-8";
$ionicons-font-path: "/fonts/ionicons" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "3.0.0-alpha.3" !default;
@import "../node_modules/ionicons/dist/scss/ionicons";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min";
@import "nojs-menus.scss";
@import "board.scss";
@import "login.scss";
@import "signup.scss";
@import "opinion.scss";
@import "https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap";
* {
  list-style: none;
  text-decoration: none;
  font-family: "Nanum Gothic", sans-serif;
}
a {
  color: #343638;
}
html,
body {
  //background: rgba(188, 224, 253, 0.5);
  min-width: 1366px;
}

.container {
  min-width: 1366px;
}
.bgcenter {
  width: 1366px;
  margin: 0 auto;
}
.bgcenter2 {
  width: 1366px;
  height: 1000px;
}

.sise_group {
  width: 1130px;
}
.sise {
  width: 65px;
  height: 40px;
  background-color: #0d4f9b;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  float: left;
}
.input_search {
  width: 300px;
  height: 40px;
  position: absolute;
  z-index: 20;
  margin-top: -175px;
  margin-left: 830px;
}
.tab {
  border-bottom: solid 1px #bcbcbc;
}

.board_2 {
  margin-left: 20px;
}
.dropdo {
  font-size: 15px;
  margin-left: 30px;
  color: #343638;
}
.cont {
  width: 1366px;
  margin-left: 250px;

  margin: 0 auto;
}

.footerinfo {
  width: 700px;
  height: 400px;
  margin-left: 650px;
  text-align: right;
  img {
    cursor: pointer;
  }
}

.footerinfo img {
  padding-top: 13px;
  padding-left: 525px;
}
.footerinfo address {
  padding-top: 120px;
}
.mainfoo {
  float: left;
  width: 200px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-top: 65px;
}
.subfooter {
  font-size: 13px;
  width: 180px;
}
.subfoo {
  margin-left: -20px;
}
.logoco {
  color: #0d4f9b;
}

.dropdown-toggle nav-link {
  font-family: "";
  font-size: 15px;
}

.text_box {
  width: 770px;
  height: 40px;
  margin: 0 auto;
}

.board {
  margin-right: 20px;
}
.bar {
  margin-right: 20px;
}
.lead mb-5 {
  text-align: center;
}
.footer {
  height: 420px;
  margin-top: 200px;
  background-color: #bcbcbc;
}
.footer img {
  margin-top: 60px;
  float: left;
}

.footerin {
  margin-left: 150px;
  width: 1366px;
  margin: 0 auto;
}

.about_sixweeks {
  width: 1245px;
  height: 250px;
  margin-left: 140px;
}
.about {
  margin-left: -50px;
}
.about_icon {
  cursor: pointer;
  height: 100px;
  float: left;
  margin-right: 190px;
  margin-top: 100px;
}
.storymore {
  color: #2981e6;
  border-bottom: solid 1px #2981e6;
  cursor: pointer;
}

.storytext_sub {
  font-size: 14px;
  margin-top: 5px;
}
.storytext {
  font-size: 17px;
  font-weight: bold;
  margin-top: 5px;
}
.sixweeks_story {
  width: 1245px;
  height: 500px;
  margin-top: 50px;
  margin-left: 140px;
  margin-bottom: 50px;
}
.sixweeks_s {
  width: 260px;
  height: 187px;
  float: left;
  margin-right: 155px;

  margin-top: 80px;
}
.coin {
  width: 1080px;
  height: 743px;

  margin-top: 200px;
  margin-left: 120px;
}

.squ-box {
  margin-left: 315px;
  position: absolute;
  z-index: 10;
  bottom: -100px;
}
.sq-box {
  width: 300px;
  height: 200px;
  border: solid 1px #bcbcbc;
  background-color: #ffffff;
  float: left;
  margin-right: 70px;
}
.display-2 {
  width: 710px;
  text-align: center;
}
.display-6 {
  text-align: center;
  margin-bottom: 210px;
}

.text-right {
  margin-left: 590px;
  margin-top: -150px;
  background-color: #ffffff;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}
.more {
  color: #343638;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

#__next {
  .display-2 {
    margin-top: -170px;
    margin-left: 310px;
  }

  .lead {
    font-size: 1.4em;
    padding-left: 50px;
  }

  pre {
    background-color: #333;
    border-color: #333;
    color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .navbar,
  .navbar .btn,
  .navbar .dropdown-item,
  .navbar button {
    font-size: 15px;
    //background: rgba(188, 224, 253, 0.5);
    background-image: url(static/img/navb.png);
    background-size: cover;
  }
  .navbar {
    padding-left: 150px;
    padding-right: 150px;
  }

  .icon-spin {
    display: inline-block;
    animation: spin 1s infinite linear;
  }

  /**
 * This is a fix for Reactstrap 5.0.0-alpha.4 not displaying menus in the 
 * navbar correcrtly on mobile devices.
 **/
  .navbar .dropdown {
    display: block;
  }

  /**
 * Fix for Reactstrap
 **/
  .react-bs-table-sizePerPage-dropdown .dropdown-item a {
    display: block;
    color: #000;
    text-decoration: none;
  }

  .react-bs-table-sizePerPage-dropdown button {
    background: #fff;
    color: #000;
  }
}
